<header class="header-bar">
  <div class="search-container">
    <i class="fas fa-search search-icon"></i>
    <input type="text" class="search-input" placeholder="Buscador" (input)="onSearch($event)">
  </div>
</header>

@if (searchResults().tracks?.items?.length || searchResults().artists?.items?.length || searchResults().albums?.items?.length){
    <div class="search-results" id="results">

        @if (searchResults().albums?.items?.length){
            <div>
                <h2>Albumes</h2>
                <div>
                    @for (album of searchResults().albums?.items; track album.id) {
                        <div class="album-item" [id]="album.id" (click)="showAlbum(album)">
                            <img [src]="album.images?.[0]?.url" [alt]="album.name">
                            <div>
                                <h4>{{album.name}}</h4>
                                <p>{{album.artists[0]?.name}}</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (searchResults().tracks?.items?.length){
            <div>
                <h2>Canciones</h2>
                <div>
                    @for (song of searchResults().tracks?.items; track song.id) {
                        <div class="album-item" [id]="song.id" (click)="selectFromPlaylist({cover: trackImg(song), name: song.name, artist: song.artists[0]?.name || 'Desconocido'})">
                            <img [src]="trackImg(song)" [alt]="song.name">
                            <div>
                                <h4>{{song.name}}</h4>
                                <p>{{song.artists[0]?.name}}</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}@else{
    <div class="hidden" id="results"></div>
}

<section>
    <div id="main">
        <app-song-info [song]="song" displayMode="main"></app-song-info>
        <app-audio-controller></app-audio-controller>
    </div>
    <app-playlist [playlist]="playlist"></app-playlist>

</section>
