:host{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #181b31;
}

section{
    display:grid;
    grid-template-columns: 75% 25%;
    height: 90%;
    border: 10px solid #15182b;
}

.header-bar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5%;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #15182b;
  border: 1px solid #1c2036;
  border-radius: 30px;
  padding: 4px 20px; 
  height: 30px;
  width: 60%;
}

.search-icon {
  color:white;
  margin-right: 10px;
}

.search-input {
  border: none;
  background: none;
  color: white;
  padding: 5px;
  flex-grow: 1; 
  font-size: 15px;
}
.search-input:focus {
  outline: none; 
}

.search-input::placeholder {
  color: white;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}