*{
    padding: 0;
    margin: 0;
}

:host(.card){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

:host(.card) .card-song-img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 10px;
}

:host(.card) .card-song-details{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

:host(.card) .card-song-details .card-song-title{
    font-size: 17px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 400;
}

:host(.card) .card-song-details .card-song-artist{
    font-size: 15px;
    color: rgb(82, 82, 82);
    font-weight: 300;
    text-align: left;
}


:host(.main){
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

:host(.main) .card-song-img{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    margin-top: 20px;
}

:host(.main) .card-song-details{
    width: 300px;
    align-content: baseline;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

:host(.main) .card-song-details .card-song-title{
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 400;
}

:host(.main) .card-song-details .card-song-artist{
    font-size: 15px;
    color: rgb(82, 82, 82);
    font-weight: 300;
    margin-block: 5px;
}

.card-song-details h2,
.card-song-details h3 {
    text-align: center;
    width: 100%;
    margin: 0;
}