:host{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5%;
}

.header-bar{
  width: 50%;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #15182b;
  border: 1px solid #1c2036;
  border-radius: 30px;
  padding: 4px 20px; 
  height: 30px;
}

.search-icon {
  color:white;
  margin-right: 10px;
}

.search-input {
  border: none;
  background: none;
  color: white;
  padding: 5px;
  flex-grow: 1; 
  font-size: 15px;
}
.search-input:focus {
  outline: none; 
}

.search-input::placeholder {
  color: white;
}