:host{
    height: 100%;
    width: 80%;
    border-left: 10px solid #15182b;
    background-color: #15182b;
    justify-self: center;
}

h2{
    width: 100%;
    text-align: center;
    align-content: center;
    padding-block: 20px;
}

.content{
    height: 95%;
    overflow: auto;
    scrollbar-width: none;
}