:host{
    max-width: 100%;
    height: 50%;
    padding-block: 60px;
}

.search-results{
    display: flex;
    flex-direction: column;

    div div{
        display: flex;
    }
}

.album-item{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 10px;

    img {
        height: 70px;
        width: 70px;
        margin-inline: 10px;
    }

    div {
        flex-direction: column;
        text-align: center;
    }
}